.App {
  height: 100%;
  overflow: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo-bg {
  position: fixed;
  transform: rotate(16deg);
  top: 0;
  left: calc(100vw / 2);
  opacity: 0.2;
  filter: alpha(opacity=20);
  pointer-events: none;
  width: 50vw;
  min-width: 50vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root{
  height: 100%;
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logo-wrapper {
  width: fit-content;
}

.logo-wrapper .logo {
  width: fit-content;
  filter: drop-shadow(0px -1px 4px black);
}