
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--bs-gray-500);
  background: var(--bs-gray-900);
}

body.splash {
  background-image: url(../public/3D/purple_sky.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

body.splash > #root {
  overflow: hidden;
}

.body-wrapper {
  overflow-y: auto;
  height: 64vh;
}

/*.work-body-wrapper {
  height: 100vh;
}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 a {
  color: var(--bs-gray-300) !important;
  font-weight: bold;
  text-decoration: none;
 }
 a:hover {
  color: var(--bs-gray-300);
  text-decoration: underline;
 }

 .container {
  height: -webkit-fill-available;
  margin-top: 56px;
 }

 .err {
  display: grid;
  height: 100%;
  width: 100%;
 }

 .err-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
 }

 .err-container {
  border: solid 2px var(--bs-red);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
  border-radius: 12px;
 }

 .err-container img {
  width: 36%;
  margin: auto;
 }

 .fade {
  -webkit-transition: opacity 0.7s linear;
     -moz-transition: opacity 0.7s linear;
      -ms-transition: opacity 0.7s linear;
       -o-transition: opacity 0.7s linear;
          transition: opacity 0.7s linear;
}


.role-title {
  font-weight: bold;
}
 .splash-header-wrapper {
  margin-top: 20vh;
 }

 .header-wrapper {
  margin-top: 10vh;
 }

 .splash-header-wrapper h1, .header-wrapper h1, h2:not(.card-title), .navbar-brand {
  margin-bottom: 15px;
  filter: drop-shadow(0px -1px 4px black);
 }

  .canvas-wrapper {
    width: 100%;
    height: 50vh;
    display: flex;
    position: sticky;
    bottom:0
  }
  .card {
    color: var(--bs-body-color);
    min-width: 104px;
  }
  .hide {
    display: none;
  }

  .work-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    grid-gap: 15px;
    margin-bottom: 15px;
    overflow-y: auto;
  }

  .height-100vh {
    height: 100vh;
  }
  .card {
    cursor: pointer;
  }
  .card.active{
   /* margin-top: 15px;*/
   margin: auto;
  }

  .card-body {
    overflow-y: auto;
    overflow-x: hidden;
  }
 .contact-list {
  list-style: none;
 }

 .contact-list li {
  display: flex;
  align-items:center;
  margin-bottom: 6px;
 }

 .contact-list li img {
  margin-right: 6px;
 }

 .contact-list li span {
  margin-right: 6px;
 }

.content-body {
  height: 60vh;
  overflow-y: auto;
 }

 .content-body.fullheight {
  height: 100vh;
 }

 .work-body-wrapper-100vhvw {
  width: 100vw;
 }
/*
 .work-body-wrapper-100vhvw .content-body {
  height: 100%;
 }*/

 .movie-title{
  float: left;
 }

 .video-container {
  margin: 15px;
  text-align: center;
 }

 .video-wrapper video {
  max-height: 776px;
 }
 
 .link-to-home{
  color: var(--bs-gray-500);
  display: inline-block;
  margin-left: 5px;
 }
 .link div {
  margin: auto;
 }
 
 .list-wrapper {
  background-color: rgba(0,0,0,0.7);
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 15px;
  padding-top: 15px;
 }
 .skill-list, .learning-list {
  column-count: 3;
 }
 .skill-list li, .learning-list li {
  padding-right: 1rem;
 }
 @media (max-width: 860px)  {
  .height-100vh {
    height: 96vh;
  }
 }

 @media (max-width: 680px)  {
  .height-100vh {
    height: 96vh;
  }
 }
 @media (max-width: 576px)  {
  .navbar {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-item {
    padding-right: .5rem;
    padding-left: .5rem;
  }

 

  .canvas-wrapper {
    width: 90vw;
    height: 36vh;
    display: flex;
    margin: auto;
    position: sticky;
  }

  .header-wrapper {
    margin-top: 0;
  }

  .skill-list, .learning-list {
    column-count: 2;
   }

   .skill-list li, .learning-list li {
    padding-right: 1rem;
   }
 }


 .navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
 }

 .navbar-toggler {
  scale: 50%;
  border: 4px solid transparent;
 }

.primary-nav a {
  margin: 15px;
  color: var(--bs-gray-500);
  font-weight: bold;
}

.splash-header-1 {
  font-size: 3.5rem;
  color: #fff;
}


.splash-header-2 {
  font-size: 2.5rem;
  color: #fff;
}

@media (max-width: 576px)  {
  .splash-header-1 {
   font-size: 2.5rem;
  }
  .splash-header-2 {
    font-size: 2rem;
   }
}


.video-wrapper  {
  text-align: right;
  visibility: hidden;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: grid;
  height: 100%;
  position: fixed;
  width: 100%;
}
.spinner-border {
  
  display: flex;
  justify-content: center;
  align-items: center;  
}


